@import '../../resources/scss/base.module.scss';

.login-container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.login-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  top: 20%;
  margin-right: auto;
  width: 320px;
}

.login-form {
  max-width: 1400px;
}

.login-input {
  width: 80%;
  margin: auto;
  margin: 5px;

  input {
    height: 60px;
  }

  a {
    color: $theme-color-primary;
    font-size: 1em;
    cursor: pointer;
    padding-top: 2px;
    float: right;
  }
}

.login-submit {
  width: 80%;
  font-size: 15px;
  padding: 15px;
  margin-top: 10px;
}

.login-registration-span {
  padding: 15px 0.5em;
  a {
    color: $theme-color-primary;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }
}
