@import "../../resources/scss/base.module.scss";

.not_found-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: underline;
    color: $theme-color-primary;
  }

  h1 {
    font-size: 1.75rem;
    @include breakpoint {
      font-size: 2.5rem;
    }
  }

  h3 {
    font-size: 1.25rem;
    @include breakpoint {
      font-size: 1.75rem;
    }
  }
}
