@import "breakpoint-sass";

@font-face {
  font-family: "Boston";
  src: url("../fonts/Boston-Regular.woff2") format("woff2"),
    url("../fonts/Boston-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BostonHeavy";
  src: url("../fonts/Boston-Heavy.woff2") format("woff2"),
    url("../fonts/Boston-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

$background-color: #cccccc31;
$font-family: "Boston";
$font-family-heavy: "BostonHeavy";
$theme-color-primary: #a44a3f;
$theme-color-primary-dark: darken($theme-color-primary, 10%);
$theme-color-primary-light: lighten($theme-color-primary, 10%);
$theme-color-secondary: #000;
$theme-color-secondary-dark: darken($theme-color-secondary, 10%);
$theme-color-secondary-light: lighten($theme-color-secondary, 10%);
$theme-color-white: #fff;
$theme-color-black: #000;
$theme-color-danger: #da0000;
$error-background-color: #ffdbd9;
$error-color: #f44336;
$warning-color: #757575;
$success-color: #4bb543;
$header-heigth: 70px;

@mixin breakpoint($point: tablet) {
  @if $point == desktop-l {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  } @else if $point == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  } @else {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
}

:export {
  themeColorPrimary: $theme-color-primary;
  errorColor: $error-color;
  warningColor: $warning-color;
  successColor: $success-color;
}