@import "./base.module.scss";

.header {
  background-color: $theme-color-white;
  height: $header-heigth;
  min-height: $header-heigth;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .back_arrow {
    position: absolute;
    left: 15px;
    cursor: pointer;
  }

  .menu_hamburger {
    cursor: pointer;
    position: absolute;
    left: 25px;
    cursor: pointer;
    @include breakpoint {
      display: none;
    }
  }
}

.header-title {
  font-family: $font-family-heavy;
  font-size: 25px;
  @include breakpoint(desktop) {
    font-size: 2.2rem;
  }
}

.header-logged-user {
  background-color: $theme-color-primary;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding-top: 2px;
  justify-content: center;
  color: $theme-color-white;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 5px;
  text-transform: uppercase;
  cursor: pointer;

  .popover {
    box-shadow: 0 24px 54px rgb(0 0 0 / 15%), 0 4.5px 13.5px rgb(0 0 0 / 8%);
    border: none !important;
    font-family: $font-family;
    width: 135px;
  }

  .popover-body:hover {
    background-color: $background-color;
    border-radius: 3px;
  }

  .popover .arrow::before,
  .popover .arrow::after {
    content: none;
  }
}

.header-log-in {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 5px;
  padding: 7px;
  border-radius: 10px;
  background-color: $theme-color-primary;
  color: $theme-color-white;
  font-weight: 600;
}

.header-log-in:hover {
  transform: scale(1.1);
}

h1 {
  margin: 0;
}

.primary-button {
  background-color: $theme-color-primary;
  color: $theme-color-white;
  border: none;
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px;
  min-width: 160px;
  font-weight: bold;
}

.secondary-button {
  background-color: $theme-color-secondary;
  border: 1px solid $theme-color-black;
  padding: 10px;
  text-transform: uppercase;
  font-size: 11px;
  min-width: 160px;
  font-weight: bold;
}

.title-h1 {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  color: grey;
  font-family: "Boston";
}
.line-block {
  display: inline-flex;
  width: 40px;
  height: 5px;
  background-color: transparent;
  border-bottom: 1px solid grey;
  margin-right: 20px;
  padding-bottom: 10px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $theme-color-white;
  box-shadow: 0 0 20px rgb(25 25 25 / 15%);
  border-radius: 2px;
  border: 1px solid $theme-color-primary-light;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: $theme-color-primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 7px;
  height: 12px;
  border: solid $theme-color-white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidenavbar {
  height: 100%;
  background-color: $theme-color-white;
  font-weight: bold;
  width: 0;
  z-index: 999;
  position: absolute;
  transition: all 0.3s linear;
  transform-origin: 1px;
  overflow-x: hidden;

  @include breakpoint {
    display: unset;
    width: 25%;
    position: sticky;
    top: 0;
  }

  .nav-header {
    cursor: pointer;
    height: $header-heigth;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidenavbar-container {
    border-top: 3px solid $background-color;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .active {
    background-color: $theme-color-primary;
    color: $theme-color-white;
  }

  .sidenavbar-item {
    margin: 6px;
    padding: 9px;
    border-radius: 5px;
  }

  .sidenavbar-item:hover {
    color: $theme-color-black;
    background-color: $background-color;
  }
}
