@import "../../resources/scss/base.module.scss";

.registration-submit {
  width: 80%;
  font-size: 15px;
  padding: 15px;
  margin-top: 10px;
}

.registration-registration-span {
  padding: 15px 0.5em;
  a {
    color: $theme-color-primary;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }
}
