@import "@scss/base.module.scss";

.header {
  background-color: $theme-color-white;
  height: $header-heigth;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .menu_hamburger {
    cursor: pointer;
    padding-left: 5px;
    @include breakpoint {
      display: none;
    }
  }
}

.header-title {
  margin: auto;
  font-family: $font-family-heavy;
  font-size: 25px;
  @include breakpoint(desktop) {
    font-size: 2.2rem;
  }
}

.header-logged-user {
  background-color: $theme-color-primary;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding-top: 2px;
  justify-content: center;
  color: $theme-color-white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  .popover {
    border: none !important;
    position: absolute;
    top: $header-heigth;
    right: 8px;
    text-transform: lowercase;
    color: $theme-color-black;
    border-radius: 5px;
    width: 138px;

    .popover-label--disconnect {
      font-weight: 100;
      padding: 16px 14px;
      background-color: $theme-color-white;
      border-radius: 5px;
    }

    .popover-label--disconnect:hover {
      background-color: $background-color;
    }
  }
}

.header-log-in {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
  background-color: $theme-color-primary;
  color: $theme-color-white;
  font-weight: 600;
}

.header-log-in:hover {
  transform: scale(1.1);
}

.header__logged-user__lang-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}
